[submodule "ine54teste"]
	path = ine54teste
	url = https://github.com/Leviosar/ine54teste
[submodule "20.1/ine5408"]
	path = 20.1/ine5408
	url = https://github.com/Leviosar/ine5408
[submodule "20.1/ine5410"]
	path = 20.1/ine5410
	url = https://github.com/Leviosar/ine5410
[submodule "20.1/ine5411"]
	path = 20.1/ine5411
	url = https://github.com/Leviosar/ine5411
[submodule "20.2/ine5414"]
	path = 20.2/ine5414
	url = https://github.com/leviosar/ine5414
[submodule "20.2/ine5417"]
	path = 20.2/ine5417
	url = https://github.com/Leviosar/ine5417
[submodule "20.2/ine5416"]
	path = 20.2/ine5416
	url = https://github.com/Leviosar/ine5416
[submodule "20.2/ine5613"]
	path = 20.2/ine5613
	url = https://github.com/Leviosar/ine5613
