**/db
**/incremental_db/
**/simulation/
**/timing/
**/testbench/
**/*_sim/
*.bak
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.jdi
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.qpf
*.qsf
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
.vscode/

/20.1/INE5408/trabalhos/xml_binary_image/html
/20.1/INE5408/trabalhos/xml_binary_image/latex