[submodule "ine54teste"]
	path = ine54teste
	url = https://github.com/Leviosar/ine54teste
[submodule "20.1/ine5408"]
	path = 20.1/ine5408
	url = https://github.com/Leviosar/ine5408
[submodule "20.1/ine5410"]
	path = 20.1/ine5410
	url = https://github.com/Leviosar/ine5410
[submodule "20.1/ine5411"]
	path = 20.1/ine5411
	url = https://github.com/Leviosar/ine5411
[submodule "20.2/ine5414"]
	path = 20.2/ine5414
	url = https://github.com/leviosar/ine5414
[submodule "20.2/ine5417"]
	path = 20.2/ine5417
	url = https://github.com/Leviosar/ine5417
[submodule "20.2/ine5416"]
	path = 20.2/ine5416
	url = https://github.com/Leviosar/ine5416
[submodule "20.2/ine5613"]
	path = 20.2/ine5613
	url = https://github.com/Leviosar/ine5613
[submodule "20.2/ine5411"]
	path = 20.2/ine5411
	url = https://github.com/leviosar/ine5411
[submodule "21.1/ine5415"]
	path = 21.1/ine5415
	url = https://github.com/leviosar/ine5415
[submodule "21.1/ine5413"]
	path = 21.1/ine5413
	url = https://github.com/leviosar/ine5413
[submodule "21.1/ine5405"]
	path = 21.1/ine5405
	url = https://github.com/leviosar/ine5405
[submodule "21.1/ine5202"]
	path = 21.1/ine5202
	url = https://github.com/leviosar/ine5202
[submodule "21.1/ine5412"]
	path = 21.1/ine5412
	url = https://github.com/leviosar/ine5412
