[submodule "ine54teste"]
	path = ine54teste
	url = https://github.com/Leviosar/ine54teste
[submodule "20.1/ine5408"]
	path = 20.1/ine5408
	url = https://github.com/Leviosar/ine5408
[submodule "20.1/ine5410"]
	path = 20.1/ine5410
	url = https://github.com/Leviosar/ine5410
[submodule "20.1/ine5411"]
	path = 20.1/ine5411
	url = https://github.com/Leviosar/ine5411
